.root{
-fx-background-image:url('image/newBG.jpg');
-fx-background-size:cover;
}
.homePane{
-fx-background-image:url('image/Burger.jpg');
-fx-background-size:cover;
}
.userAdminPage{
-fx-background-image:url('image/finalBG.jpg');
-fx-background-size:cover;
}
.menuPagePane{
-fx-background-image:url('image/background.jpg');
-fx-background-size:cover;
}
.page{
-fx-background-image:url('image/wooden1.jpg');
-fx-background-size:cover;
}
.juicePage{
-fx-background-image:url('image/jb5.jpg');
-fx-background-size:cover;
}
.coffeePage{
-fx-background-image:url('image/coffee1.jpg');
-fx-background-size:cover;
}
.cartPage{
-fx-background-image:url('image/cartback.jpg');
-fx-background-size:cover;
}
.CongratulatePage{
-fx-background-image:url('image/delivay3.jpg');
-fx-background-size:cover;
}
.CongratulatePage1{
-fx-background-image:url('image/delivay7.jpg');
-fx-background-size:cover;
}



